<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15967773069-4pfmak68kklskghhalkdfj;alk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66454645664-4pfbbbjkekba49gjalo6adfra</string>
	<key>API_KEY</key>
	<string>AIzaSFjhguSD9jJHH6JHKL:KLJioM</string>
	<key>GCM_SENDER_ID</key>
	<string>696990509868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vovansuper.tester.beta</string>
	<key>PROJECT_ID</key>
	<string>test-fcm-messaging-f7e87</string>
	<key>STORAGE_BUCKET</key>
	<string>test-fcm-messaging-f7e87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16674390-84:ios:5667hgsdf77df88hgsdfsdf7d4000d</string>
	<key>DATABASE_URL</key>
	<string>https://test-fcm-messaging-f7e87.firebaseio.com</string>
</dict>
</plist>