<ng-container *ngIf="vm$ | async as vm; else noData">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button slot="start" defaultHref="/chats"></ion-back-button>
      </ion-buttons>
      <ion-title slot="end" *ngIf="vm.currentPartner">{{vm.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ng-container *ngIf="vm.messages as messages; else noMsg">
      <!-- <ng-container *ngIf="messages && messages.length; else noMsg"> -->
      <ion-content #contentScroll>
        <ion-grid>
          <ion-row *ngFor="let chat of messages">
            <ion-col col-12>
              <ion-item lines="none" class="chat-item">
                <div class="chat-wrapper {{chat.isSelfMsg ? 'chat-msg__self' : ''}}"
                  slot="{{chat.isSelfMsg ? 'end' : 'start'}}">
                  <!-- <ion-icon class="chat-ava" size="large" name="contact"></ion-icon> -->
                  <ion-avatar class="ava-wrapper">
                    <img class="chat-ava" [src]="chat.isSelfMsg ? userAvatarData : partnerAvatarData" alt="avatar" />
                  </ion-avatar>
                  <div class="chat-msg">
                    {{chat?.message}}
                  </div>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
      <!-- </ng-container> -->
    </ng-container>

    <ng-template #noMsg>
      <p>You have not yet chated with the User... </p>
      <p>Write him right now!</p>
    </ng-template>
  </ion-content>

  <ion-footer>
    <div class="new-msg-block">
      <div class="msg-area">
        <ion-textarea #messageBox [(ngModel)]="newMessage" autofocus="true" (keyup.control.enter)="send(newMessage)" placeholder="Enter your message..."> </ion-textarea>
      </div>
      <ion-fab-button class="msg-btn" color="default" (click)="send(vm.currentUser.id, vm.currentPartner.id, newMessage)" [disabled]="!messageBox.value || !messageBox.value.trim().length">
        <ion-icon size="large" name="arrow-dropright"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-footer>
</ng-container>

<ng-template #noData>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button slot="start" defaultHref="/chats"></ion-back-button>
      </ion-buttons>
      <ion-title slot="end">
        <ion-buttons slot="end">
          <ion-button (click)="logOut()">Log out</ion-button>
        </ion-buttons>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-6 col-offset-3>
          <h3>No Data..!</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-template>