<ng-container *ngIf="vm$ | async as vm; else noData">
  <ion-header>
    <ion-toolbar *ngIf="vm.currUser as user">
      <ion-title *ngIf="user.name" slot="end">Hi, {{user.name}}</ion-title>
      <ion-buttons>
        <ion-button class="large" (click)="logout()">Logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ng-container *ngIf="vm.chats as chats">
      <!-- <ion-virtual-scroll [items]="chats" approxItemHeight="200px"> -->
      <!-- <ion-card *virtualItem="let item;" (click)="gotoChat(item.id)"> -->
      <ng-container *ngIf="chats && chats.length; else noChats">
        <ion-card *ngFor="let item of chats" (click)="gotoChat(item.id)">
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ item.email }}</ion-card-content>
        </ion-card>
      </ng-container>
      <!-- </ion-virtual-scroll> -->
      <ng-template #noChats>
        <ion-card>
          <ion-card-header>
            <ion-card-title>No Chats</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>You are the only now!! :(</ion-item>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ng-container>
  </ion-content>
</ng-container>

<ng-template #noData>
  <h3>No Data..!</h3>
</ng-template>